* {
  margin: 0;
  padding: 0;
}
.double-container {
  display: flex;
  width: 1100px;
  margin: 20px auto;
  padding: 10px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 80%;
}
.half-width:nth-child(1) {
  margin-top: 150px;
}
#header h1 {
  font-size: 40px;
}
.text-orange {
  color: orangered;
}
.heading-border {
  border-left: 2px solid orangered;
  padding-left: 15px;
  margin-bottom: 20px;
}
.btn-orange {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 5px;
}
#mission {
  width: 1100px;
  margin: 15px auto;
}
#mission h1 {
  margin: 15px auto;
  text-align: center;
}
#mission > div {
  display: flex;
}
.mission-div {
  width: 31.33%;
  background-color: #ddd;
  margin: 10px 15px;
  border-radius: 5px;
  padding: 30px;
}
.mission-div h3 {
  margin: 10px 0;
}
.mission-div img {
  width: 60%;
}
#coding .half-width:nth-child(2) {
  margin: auto;
}
#coding .half-width p {
  margin: 15px 0;
}
#community .half-width p {
  margin: 15px 0;
}
#contact {
  text-align: center;

  background-color: #ddd;
  padding: 30px;
}
#contact h1 {
  margin-bottom: 15px;
}
#contact h3 {
  margin-bottom: 10px;
  color: #333;
}
footer {
  color: #fff;
  text-align: center;
  padding: 45px 30px;
  background-color: #000;
}
